{{#if remaining}}
<span id="todo-count"><strong>{{remaining}}</strong> item left</span>
{{/if}}
{{#if completed}}
<button id="clear-completed" display="none">Clear completed ({{completed}})</button>
{{/if}}